assembly/target/
common/kvstore/target/
common/network-common/target/
common/network-shuffle/target/
common/sketch/target/
common/tags/target/
common/unsafe/target/
core/target/
examples/target/
external/avro/target/
external/kafka-0-10-assembly/target/
external/kafka-0-10-sql/target/
external/kafka-0-10-token-provider/target/
external/kafka-0-10/target/
graphx/target/
launcher/target/
mllib-local/target/
mllib/target/
repl/target/
sql/catalyst/target/
sql/core/target/
sql/hive/target/
streaming/target/
target/
tools/target/
